<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contact</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<!-- Include the navbar fragment -->
	<div th:replace="navbar :: navbar"></div>

	<div class="container mt-5">
		<div class="section-title text-center">
			<h2 style="font-family: Forte; font-size: 30px;">Add your Achievement</h2>
			
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="info">
					<div class="address mb-3">
						<i class="bi bi-geo-alt"></i>
						<h4>Location:</h4>
						<p>BEC, Bapatla, 522102</p>
					</div>

					<div class="email mb-3">
						<i class="bi bi-envelope"></i>
						<h4>Email:</h4>
						<p>example@gmail.com</p>
					</div>

					<div class="phone mb-3">
						<i class="bi bi-phone"></i>
						<h4>Phone:</h4>
						<p>+91 709598594</p>
					</div>

					<div>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.3590539947327!2d80.43946607490011!3d15.89024948476356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a408f042c3c75%3A0x3aa398870aa48578!2sBapatla%20Engineering%20College!5e0!3m2!1sen!2sin!4v1710349577658!5m2!1sen!2sin"
							width="100%" height="300" style="border: 0;" allowfullscreen=""
							loading="lazy"></iframe>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="contact-form">
					<div class="section-title">
						<br><br>
						<h4>
							
								<a href="https://docs.google.com/forms/d/1HY9RLzV6LzY_Cutd02Ca3hrJ7p4IED8PPzLqFkl7iwo/edit">
								<span class="btn btn-outline-success"> click here</span></a>
								If you want to add your Achievements 
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
